@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

html {
  background-color: #4040bf;
}

h1 {
  text-align: center;
  font-family: 'Gloria Hallelujah', sans-serif;
  font-size: 80px;
  color: white;
  margin-top: 30px;
}

@media(max-width:615px){
  h1{
    font-size: 70px;
  }
}

@media(max-width:530px){
  h1{
    font-size: 12vw;
  }
}